---
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import { getFormattedDate } from "@/lib/utils";

interface Props {
  dateRange: {
    startDate: string;
    endDate?: string;
  };
  isEmptyEndDateShowNow: boolean;
}

const { dateRange, isEmptyEndDateShowNow } = Astro.props;
---

<li class="flex flex-row items-center gap-2">
  <CalendarIcon class="size-5 stroke-muted lg:size-6" />

  <span
    class="text-base font-medium leading-none text-muted lg:text-lg lg:leading-none"
  >
    {
      isEmptyEndDateShowNow ? (
        <>
          <time datetime={dateRange.startDate}>
            {getFormattedDate(dateRange.startDate)}
            {" – "}
          </time>
          {dateRange.endDate ? (
            <>
              <time datetime={dateRange.endDate}>
                {getFormattedDate(dateRange.endDate)}
              </time>
            </>
          ) : (
            <span>Now</span>
          )}
        </>
      ) : (
        <>
          <time datetime={dateRange.startDate}>
            {getFormattedDate(dateRange.startDate)}
          </time>
          {dateRange.endDate && (
            <>
              {" – "}
              <time datetime={dateRange.endDate}>
                {getFormattedDate(dateRange.endDate)}
              </time>
            </>
          )}
        </>
      )
    }
  </span>
</li>
