---
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import { getFormattedDate } from "@/lib/utils";

interface Props {
  dateRange: {
    startDate: string;
    endDate?: string;
  };
  showPresentForEmptyEndDate?: boolean;
}

const { dateRange, showPresentForEmptyEndDate = false } = Astro.props;
---

<span
  class="text-muted-foreground inline-flex items-center gap-1.5 font-mono text-xs tracking-widest uppercase lg:text-sm"
>
  <CalendarIcon class="size-3.5 shrink-0 lg:size-4" />
  {
    showPresentForEmptyEndDate ? (
      <>
        <time datetime={dateRange.startDate}>
          {getFormattedDate(dateRange.startDate)}
        </time>
        {" – "}
        {dateRange.endDate ? (
          <time datetime={dateRange.endDate}>
            {getFormattedDate(dateRange.endDate)}
          </time>
        ) : (
          <span>Present</span>
        )}
      </>
    ) : (
      <>
        <time datetime={dateRange.startDate}>
          {getFormattedDate(dateRange.startDate)}
        </time>
        {dateRange.endDate && (
          <>
            {" – "}
            <time datetime={dateRange.endDate}>
              {getFormattedDate(dateRange.endDate)}
            </time>
          </>
        )}
      </>
    )
  }
</span>
