---
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import { getFormattedDate } from "@/lib/utils";

interface Props {
  isEmptyEndDateShowNow: boolean;
  dateRange: {
    startDate: string;
    endDate?: string;
  };
}

const { isEmptyEndDateShowNow, dateRange } = Astro.props;
---

<div class="z-20 flex flex-row items-center gap-2">
  <CalendarIcon class="stroke-secondary size-5" />

  <span
    class="text-secondary text-sm leading-none font-medium lg:text-base lg:leading-none"
  >
    {
      isEmptyEndDateShowNow ? (
        <>
          <time datetime={dateRange.startDate}>
            {getFormattedDate(dateRange.startDate)}
            {" – "}
          </time>
          {dateRange.endDate ? (
            <>
              <time datetime={dateRange.endDate}>
                {getFormattedDate(dateRange.endDate)}
              </time>
            </>
          ) : (
            <span>Now</span>
          )}
        </>
      ) : (
        <>
          <time datetime={dateRange.startDate}>
            {getFormattedDate(dateRange.startDate)}
          </time>
          {dateRange.endDate && (
            <>
              {" – "}
              <time datetime={dateRange.endDate}>
                {getFormattedDate(dateRange.endDate)}
              </time>
            </>
          )}
        </>
      )
    }
  </span>
</div>
