---
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title: string;
  description: string;
  linkPreviewImage?: {
    url: string | null;
    alt: string;
  };
}

const defaultLinkPreviewImage = {
  url: "https://dewodt.com/link-preview.jpg",
  alt: "Dewantoro Triatmojo",
};

// Get page title
const { title, description, linkPreviewImage } = Astro.props;

// Handle undefined linkPreviewImage or null link preview image (from CMS)
const finalLinkPreviewImage =
  !linkPreviewImage || !linkPreviewImage.url
    ? defaultLinkPreviewImage
    : linkPreviewImage;
---

<head>
  <!-- Viewport -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark" />
  <meta name="theme-color" content="black" />

  <!-- SEO -->
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="application-name" content="Dewantoro Triatmojo" />
  <link rel="author" href="https://dewodt.com" />
  <meta name="author" content="Dewantoro Triatmojo" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="generator" content={Astro.generator} />
  <meta
    name="keywords"
    content="Dewantoro Triatmojo, Dewo, dewodt, Portfolio"
  />
  <meta name="creator" content="Dewantoro Triatmojo" />
  <meta name="category" content="personalization" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Icon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />

  <!-- Opengraph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content="https://dewodt.com/" />
  <meta property="og:site_name" content="Dewantoro Triatmojo" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content={finalLinkPreviewImage.url} />
  <meta property="og:image:alt" content={finalLinkPreviewImage.alt} />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:type" content="website" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@dewodt" />
  <meta name="twitter:creator:id" content="1126695039633989634" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={finalLinkPreviewImage.url} />
  <meta name="twitter:image:alt" content={finalLinkPreviewImage.alt} />

  <!-- Prism stylesheet -->
  <link href="/prism-one-dark.css" rel="stylesheet" />

  <!-- Analytics -->
  <script src="@/lib/analytics.ts"></script>

  <!-- Speed Insights -->
  <SpeedInsights scriptSrc="/_si/script.js" route="/_si" />
</head>
