---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { HomePageQueryResult } from "@/types/sanity";
import CustomPortableText from "@/components/ui/portable-text/CustomPortableText.astro";
import { sanityClient, homePageQuery } from "@/lib/query";
import { toPlainText } from "astro-portabletext/utils";

// Get home page data
const homePage = await sanityClient.fetch<HomePageQueryResult>(homePageQuery);
if (!homePage) {
  throw new Error("Home data not found");
}
---

<Layout title={homePage.title} description={toPlainText(homePage.content)}>
  <main
    class="flex flex-auto items-center justify-center px-3 py-12 sm:p-12 lg:p-16"
  >
    <section
      class="flex flex-col items-center gap-4 sm:flex-row-reverse sm:gap-8 lg:gap-16 xl:gap-24"
    >
      {/* My Photo */}
      <Image
        class="size-64 rounded-full border-2 border-border lg:size-96"
        src={homePage.image.url!}
        alt={homePage.image.alt}
        widths={[256, 384]}
        sizes="(max-width: 1024px) 256px, 384px"
        inferSize
      />

      {/* Texts */}
      <div
        class="flex max-w-xs flex-col gap-2 text-center sm:max-w-sm sm:text-start lg:max-w-lg lg:gap-4"
      >
        {/* Title */}
        <h1 class="text-3xl font-bold text-secondary lg:text-5xl">
          {homePage.title}
        </h1>

        {/* Paragraph */}
        <CustomPortableText value={homePage.content} />
      </div>
    </section>
  </main>
</Layout>
