---
import LayoutBase from "../layouts/LayoutBase.astro";
import { Image } from "astro:assets";
import type { HomePageQueryResult } from "@/types/sanity";
import CustomPortableText from "@/components/ui/portable-text/CustomPortableText.astro";
import { sanityClient, homePageQuery } from "@/lib/query";
import { toPlainText } from "astro-portabletext/utils";

// Get home page data
const homePageData =
  await sanityClient.fetch<HomePageQueryResult>(homePageQuery);
if (!homePageData) {
  throw new Error("Home data not found");
}
---

<LayoutBase
  title={homePageData.title}
  description={toPlainText(homePageData.content)}
>
  <main
    class="flex flex-auto items-center justify-center px-3 py-12 sm:p-12 lg:p-16"
  >
    <section
      class="flex flex-col items-center gap-4 sm:flex-row-reverse sm:gap-8 lg:gap-16 xl:gap-24"
    >
      {/* My Photo */}
      <Image
        class="flex size-64 items-center justify-evenly rounded-full border-2 border-border bg-card text-base font-medium text-secondary lg:size-96"
        src={homePageData.image.url!}
        alt={homePageData.image.alt}
        widths={[256, 384]}
        sizes="(max-width: 1024px) 256px, 384px"
        loading="eager"
        inferSize
      />

      {/* Texts */}
      <div
        class="flex max-w-xs flex-col gap-2 text-center sm:max-w-sm sm:text-start lg:max-w-lg lg:gap-4"
      >
        {/* Title */}
        <h1 class="text-3xl font-bold text-secondary lg:text-5xl">
          {homePageData.title}
        </h1>

        {/* Paragraph */}
        <CustomPortableText value={homePageData.content} />
      </div>
    </section>
  </main>
</LayoutBase>
