---
import CardProjects from "@/components/ui/card/CardProjects.astro";
import LayoutBase from "@/layouts/LayoutBase.astro";
import type {
  AllProjectsQueryResult,
  ProjectsPageQueryResult,
} from "@/types/sanity";
import { sanityClient, allProjectsQuery, projectsPageQuery } from "@/lib/query";

// Get projects page from CMS
const projectPageData =
  await sanityClient.fetch<ProjectsPageQueryResult>(projectsPageQuery);
// Get all projects from CMS
const allProjectsData =
  await sanityClient.fetch<AllProjectsQueryResult>(allProjectsQuery);

if (!projectPageData) {
  throw new Error("Failed to fetch projects page data");
}
---

<LayoutBase
  title={`${projectPageData.title} | Dewantoro Triatmojo`}
  description={projectPageData.description}
>
  <main class="flex flex-auto justify-center px-5 py-12 sm:p-12 lg:p-16">
    <section class="flex flex-col items-center gap-6 lg:gap-8">
      {/* Header */}
      <div class="flex flex-col gap-2 text-center lg:gap-4">
        {/* Title */}
        <h1 class="text-secondary text-3xl font-bold lg:text-5xl">
          {projectPageData.title}
        </h1>

        {/* Content */}
        <p class="text-muted text-base lg:text-lg">
          {projectPageData.description}
        </p>
      </div>

      {/* Projects List */}
      <ul
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:gap-10 xl:grid-cols-3"
      >
        {
          allProjectsData.map((project) => (
            <li>
              <CardProjects project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</LayoutBase>
