---
import FileBadgeIcon from "@/components/icons/FileBadgeIcon.astro";
import DetailBack from "@/components/ui/detail/DetailBack.astro";
import DetailImage from "@/components/ui/detail/DetailImage.astro";
import DetailLiCustom from "@/components/ui/detail/DetailLiCustom.astro";
import DetailLiDate from "@/components/ui/detail/DetailLiDate.astro";
import DetailTitle from "@/components/ui/detail/DetailTitle.astro";
import CustomPortableText from "@/components/ui/portable-text/CustomPortableText.astro";
import LayoutBase from "@/layouts/LayoutBase.astro";
import { sanityClient, awardDetailQuery, allAwardsQuery } from "@/lib/query";
import {
  type AllAwardsQueryResult,
  type AwardDetailQueryResult,
} from "@/types/sanity";

export const getStaticPaths = async () => {
  // Get all awards from CMS
  const allAwardsData =
    await sanityClient.fetch<AllAwardsQueryResult>(allAwardsQuery);

  const paths = allAwardsData.map((award) => ({
    params: {
      slug: award.slug.current,
    },
  }));

  return paths;
};

// Get data from CMS
const awardDetailData = await sanityClient.fetch<AwardDetailQueryResult>(
  awardDetailQuery,
  { slug: Astro.params.slug },
);

if (!awardDetailData) {
  throw new Error("Data not found");
}
---

<LayoutBase
  title={`${awardDetailData.title} | Dewantoro Triatmojo`}
  description={awardDetailData.description}
  linkPreviewImage={awardDetailData.image}
>
  <main class="flex flex-auto justify-center px-5 py-12 sm:p-12 lg:p-16">
    <div class="flex w-full max-w-xl flex-col gap-4 lg:max-w-3xl lg:gap-6">
      {/* Back Button */}
      <DetailBack href="/awards" />

      <article class="flex flex-col items-start gap-5 lg:gap-7">
        {/* Header Section */}
        <header class="flex w-full flex-col gap-4 lg:gap-6">
          {/* Title */}
          <DetailTitle>
            {awardDetailData.title}
          </DetailTitle>

          {/* Metadata */}
          <ul class="flex flex-col items-start gap-3 lg:gap-4">
            {/* Issued by */}
            <DetailLiCustom>
              <FileBadgeIcon class="size-5 stroke-secondary lg:size-6" />

              <span>
                {awardDetailData.issuer}
              </span>
            </DetailLiCustom>

            {/* Date */}
            <DetailLiDate date={awardDetailData.date} />
          </ul>

          {/* Preview Image (Usually project logo) */}
          <DetailImage
            src={awardDetailData.image.url!}
            alt={awardDetailData.image.alt}
          />
        </header>

        {/* Content Section */}
        <section class="w-full">
          <CustomPortableText value={awardDetailData.content} />
        </section>
      </article>
    </div>
  </main>
</LayoutBase>
