---
import type { AllAwardsQueryResult } from "@/types/sanity";
import FileBadgeIcon from "@/components/icons/FileBadgeIcon.astro";
import CardContainer from "./builder/CardContainer.astro";
import CardImage from "./builder/CardImage.astro";
import CardContent from "./builder/CardContent.astro";
import CardTitle from "./builder/CardTitle.astro";
import CardSubtitle from "./builder/CardSubtitle.astro";
import CardDescription from "./builder/CardDescription.astro";
import CardDate from "./builder/CardDate.astro";

interface Props {
  award: AllAwardsQueryResult[number];
}

const { award } = Astro.props;
---

<CardContainer
  href={`/awards/${award.slug.current}`}
  ariaLabel={`Link to award ${award.title} issued by ${award.issuer}`}
>
  {/* Card Image */}
  <CardImage src={award.image.url!} alt={award.image.alt} />

  {/* Card Content */}
  <CardContent>
    {/* Title */}
    <CardTitle>{award.title}</CardTitle>

    {/* Issued by */}
    <CardSubtitle>
      <FileBadgeIcon class="stroke-secondary size-5" />
      <span>
        {award.issuer}
      </span>
    </CardSubtitle>

    {/* Date */}
    <CardDate date={award.date} />

    {/* Short description */}
    <CardDescription>
      {award.description}
    </CardDescription>
  </CardContent>
</CardContainer>
